*{
    box-sizing: border-box;
    margin: 0px;
  }
  /* Basic styles for layout. Adjust to match your Figma design */
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  h1,h2,h3,h4,h5,h6,p {
    margin: 0 ;
  }
  img {
    display: block;
    width: 100%;
  }

  button {
    border: none;
    outline: none;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  body {
    font-family: "Fira Sans",sans-serif;
    overflow: hidden;
  }

  
  /* Popup */
  .popup-overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background: #0C0A16;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .popup-overlay-wrapper {
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-radius: 15.63px;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 675px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup-body {
    position: relative;
    max-width: 280px; 
  }

   /* CLOSED*/

   .popup-body-close {
    height: 46px;
    width: 46px;
    border-radius: 18.75px;
    position: absolute;
    z-index: 10;
    top: 44px;
    right: -20px;
    background: linear-gradient(180deg, #FF6E6E 0%, #BB4141 54%, #C51616 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 3.75px 2.5px #00000059,inset 0 -2.5px 2.5px #630b127c,inset -2.5px 0 2.5px #630b127c,inset 0 2.5px 2.5px #630b127c,inset 2.5px 0px 2.5px #630b127c;
  }

  .popup-body-close img {
    width: 23.75px;
    height: 23.75px;
  }

  .popup-body-header {
    min-width: 281px;
    width: 100%;
    height: 100%;
    min-height: 206px;
    background-image: url(/img/popup_bg_head.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:bottom;
    position: relative;
    margin-bottom: -10px;
  }


  .popup-body-content {
    width: 100%;
    min-width: 280px;
    min-height: 320px;
    height: 100%;
    background-image: url(/img/popup_bg_modal.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    flex-direction: column; /* Встановлює вертикальне розташування елементів */
    height: 100%; 
  }


  /* POPUP TITLE */

  .popup-body-content-main-title {
    background-image: url(/img/bg_title.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 26px;
    text-align: center;
    min-height: 68px;
    min-width: 334px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: -34px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 700; 
    color: white;
    font-family: "Fira Sans", serif;
    line-height: .99;
  }

  .popup-body-content-main-title span {
    position: relative;
    color: #fff;
    text-shadow: 0px 1.67px 2px #151413;
    margin-top: -15px;
  }

 
    
  .popup-body-content-main-title span::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-text-stroke: 8px #000;
    -webkit-text-fill-color: transparent;
    z-index: -1;
  }

   /* POPUP TEXT */

   .popup-body-content-text {
    font-size: 17.5px;
    color:#828896;
    margin-top: 19.38px;
    margin-bottom: 16.25px;
    font-weight: 600;
    text-align: center;
  }

  .popup-body-content-text span {
    text-transform: uppercase;
  }

  .popup-body-content-wrapper {
    padding: 22px 20px;
    padding-top: 40px;
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
  }


  /* BALANCE */
  .balance {
    position: absolute;
    top: 20px;
    left: 30px;
  }
  
  .balance img {
    width: 53.6px;
  }

  .balance-content {
    background: linear-gradient(180deg, rgba(17, 13, 25, 0.8) 0%, rgba(17, 6, 27, 0.65) 100%);
    box-shadow: 0px 2.5px 2.5px 0px #110D1980 inset,2.5px 0px 2.5px 0px #110D1980 inset,-2.5px 0px 2.5px 0px #110D1980 inset,0px -2.5px 2.5px 0px #110D1980 inset,0px 3.75px 2.5px 0px #00000040;
    border-radius: 18.75px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    padding: 5px 0;
    position: relative;
  }

  .balance-content::after {
    content: '';
    position: absolute;
    border-radius: 18.75px;
    width: 95%;
    height: 50%;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(180deg, rgba(201, 249, 255, 0.4) 0%, rgba(173, 219, 255, 0.2) 53.9%, rgba(201, 249, 255, 0.15) 100%);
    z-index: 0;
  }

  .balance-content img {
    position: absolute;
    top: 55%;
    left: -20px;
    transform: translateY(-50%);
    z-index: 2;
  }

  .balance-content span {
    color:#FFFFF7;
    -webkit-text-stroke: 1.25px #3E3A37;
    font-weight: 900;
    font-size: 23.75px;
    font-family: "Fira Sans",sans-serif;
  }




  /* PRICE */
  .price {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .price  img {
    width: 28.75px;
  }

  .price span {
    font-size: 23.75px;
    color:#FFFFF7;
    font-family: "Fira Sans",sans-serif;
    -webkit-text-stroke: 1.25px #3E3A37;
    font-weight: 900;
    position: relative;
  }

      
  .price span::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-text-stroke: 10px #000;
    z-index: -1;
  }

  /* BTN */

  .btn {
    background: linear-gradient(180deg, #28D323 1%, #16BC34 52.5%, #31F02D 100%);
    color: #fff;
    font-weight: 900;
    border-radius: 10px;
    padding: 14.75px 0px;
    width: 100%;
    cursor: not-allowed;
    position: relative;
    box-shadow: 0 3.75px 2.5px #00000059,inset 0 -2.5px 2.5px #199e267a,inset -2.5px 0 2.5px #199e267a,inset 0 2.5px 2.5px #199e267a,inset 2.5px 0px 2.5px #199e267a;
  }


  .btn::after {
    content: "";
    width: 97%;
    height: 26.25px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: 1;
    background: linear-gradient(180deg, #9CF99A 0%, #46F352 54%, #40E25F 100%);
    
  }

  .btn span {
    -webkit-text-stroke: 1.25px #017416;
    font-size: 21.25px;
    text-shadow: 0 1.65px 0 #017416;
    position: relative;
    z-index: 2;

  }


  /* countdown */

  .countdown {
    color:#828896;
    font-weight: 600;
    font-size: 16.25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CCD8DE;
    border-radius: 8.15px;
    box-shadow: inset 0 2.91px 2.91px #B7C3CB,0 1.16px 2.91px #EFF7FD;
    padding: 7px;
  }

  .countdown img {
    width: 18.75px;
    height: 18.75px;
    margin-right: 5px;
  }



  .open-button {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
  }



  /* Mobile Responsiveness */
  @media (max-width: 600px) {
    .popup-content {
      padding: 1rem;
      width: 90%;
    }

    .open-button {
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
    }
  }